/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui/datepicker";
@import "toastr";
@import "font-awesome";


body {
	background-color: #f8f8f8;
}

div.panel-body > img {
  border-radius: 42%
}

.contianer {
	width: 100%;
}

.navbar-default{
	background-color: #fff;
}

.navbar-default .navbar-brand {
	color: #ff5a5f;
	font-size: 2em;
	font-weight: 400;
}

btn-primary.btn {
  border: 1px solid #ff5a5f;
  border-radius: 2px;
  font-weight: bold;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 25px 10px 25px;
}

.btn-primary.btn:hover, .btn-primary.btn:focus {
  border-color: #ff7e82;
  border-bottom-color: #fa0008;
  background-color: #ff7e82;  
  outline:none;
}

.btn-primary.btn:active {
  border-color: #e00007;
  background-color: #e00007;  
  outline:none;
}

.btn-default.btn {
  width: 100%;
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 10px; 
}

.panel-default .panel-heading {
  color: #565a5c;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400
}

.row-space-1 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.description {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #ff5a5f;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.panel-heading.preview {
  padding: 0;
  height: 350px;
  width: 100%;
  overflow: hidden;
}

.panel-heading.preview img{  
  width: 100%;
  height: auto;
}

.row col-md-2 first-pic{
  
  height:400px;
}

.reservation-table td {
  width: 100%;
  border: 1px solid #dce0e0;
  padding: 10px;
  
}

.place_photo img {
  width: 100%;
  height: auto;
  padding-top: 82px;
  padding-bottom: 50px;

}
.section {
  float: right;
  padding-top: 20px;
    /* margin-left: 28px; */
  margin-right: 150px;
}

.search {
  width: 63%;
  margin: auto;
  margin-bottom: 20px;
  font-size: 18px;

  border: solid;
  width: 183px;
  padding: 3px;
  margin-left: 358px;
  border-radius: 10px;
}

.order_list {
  border-style: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 8px;
  margin-top: 13px;
  height: 400px;
}

.order_list .a {
  float: left;
  margin-right: 70px;
  padding: 5px;
  padding-right: 68px;
  /*border-right: solid;*/
}

.order_list .b {
  padding: 5px;
  /* padding-right: 57px; */
  margin-left: 150px;
  position: absolute;
  
}

.container .search {
  margin-top: 30px;
}